<form method= "post" action="/articles" >
<ul>
<li>
<label for="title">Title</label><br>
<input id="title" type="text" name="title">
</li>
<li>
<label for="content">Content</label><br>
<textarea id="content" type="text" name="content">
</textarea>
</li>
</ul>
<input type="submit">
</form>